@import '../../styles/variables.module.scss';

.button {
        padding: 10px;
        width: 100%;
        border: 1px solid var(--lightGrey);
        border-radius: 10px;
}

.btnPrimary {
        background-color: var(--customBlue);
        color: var(--white);
}

.btnSecondary {
        background-color: var(--white);
        color: var(--black);
}