@import '../../styles/variables.module.scss';

.button {
    padding: 10px;
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

.btnPrimary {
        background-color: var(--light-grey);
        color: var(--btnPrimaryTextColor);

}

.btnSecondary {

        background-color: var(--btnSecondaryBg);
        color: var(--btnSecondaryTextColor);

}