@import '../../styles/variables.module.scss';

.container {
    background: var(--grey);
    display: flex;
    background-color: var(--customBlue);
    padding: 1rem;
    flex-direction: column;
}

.username {
    color: var(--white);
}

.username span {
    font-weight: 900;
    padding-left: 5px;
}

.closeSessionBtn {
    color: var(--white);
    padding: 30px 0px;
    text-decoration: underline;
}