.container {
    display: flex;
    justify-content: space-between;
    background-color: var(--blanco);
    padding: .5rem 2rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.fieldData {
    font-weight: 500;
}

.description {
    font-style: italic;
}
