.container {
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: .5rem;

    .subItem{
        width: 25%;

        &.actionButtons{
            display: flex;
        }
    }
}

.customShadow {
    -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
    -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
    box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
}

.dueDate {
    font-weight: 500;
}

.title {
    font-style: italic;
}
